<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>

<p>
  <strong>Blog entry:</strong>
  <%= @post.blog_entry %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> -->

<div class="panel panel-default">
  <% if @post.user.avatar? %>
    <%= image_tag @post.user.avatar.url, size: 50, class: 'float-left' %>
  <% end %>
  <div class="panel-heading"><h2><%= @post.title %></h2>
    
    <h6>submitted by</h6>
    <h5><%= link_to @post.user.username, user_posts_path(name: @post.user.username) %></h5>
    <h6>&nbsp;<%= distance_of_time_in_words(Time.now, @post.created_at) %> ago</h6>
    <h6 class="right"><a href=''><%= link_to 'delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %></a>
    <h6 class="right"><%= link_to 'edit', edit_post_path(@post) %></h6>
    <h6 class="right"><%= link_to 'show', @post %></h6>
  </div>

  <div class="panel-body">
    <%= @post.blog_entry.html_safe %>
  </div>
</div>

<% @post.comments.each do |comment| %>
	<p>
		<strong>
      <%= link_to comment.user.username, user_posts_path(name: comment.user.username) %></strong> said:<br>
		<%= comment.comment_entry %>
	</p>
<% end %>

<%= render 'comments/form', comment: @comment %>

<%= link_to 'Back', posts_path %>
